.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login > .row {
  border: 1px solid grey;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 15px 17px teal;
}

.loading {
  margin-top: 250px;
}