.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login > .row {
  border: 1px solid grey;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 11px #00808080;
}

.loading {
  margin-top: 250px;
}